

/*ROOT IMPORTS*/

/*Scss Imports*/

/*Base*/
@import 'base/vars';
/*Components*/
@import 'components/navbar';
@import 'components/footer';
/*Layouts*/
@import 'layouts/indexBst';
@import 'layouts/How-it-works2';
@import 'layouts/find-tutors2';
@import 'layouts/become-a-tutor2';
@import 'layouts/contact2';
@import 'layouts/mediaqueris';






