/* font-family: "Frank Ruhl Libre", serif;
   font_family:Roboto/Font-weight; */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General style elements */

/* BODY */
body {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(187, 188, 193);


}

/* HEADER */
header {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: rgb(165, 165, 170);
    border-bottom: 1px solid black;
}

h1 h2 h3 {
    font-family: "Frank Ruhl Libre", serif;
}

p {
    font-family: "Roboto", sans-serif;

}

a {
    font-family: "Roboto", sans-serif;
    font-size: x-small;
    color: black;
    text-decoration: none;
}

/* Navbar */

.logo-nav {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;

}

.logo-nav:hover {
    rotate: 180deg;
    transition: 5s;
}

.h1-title {
    font-family: "Frank Ruhl Libre", serif;
    position: relative;
    margin: 0;
}

.navbar-nav {
    width: 90%;
    text-align: center;
}

nav.nav-item {
    width: 150px;
}

.nav-item:hover {

    transition: 5ms;
}

.sidebar {
    color: white;

}

.open-sidebar {
    border-bottom: 1px solid white;
    transition: 5ms;
}

.open-sidebar:hover {
    background-color: rgb(238 235 223);
}

/* Second header section Image + btn*/
.ilustration_header {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.btn-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn_header {
    display: flex;
    flex-flow: row nowrap;
    width: 200px;
    height: 30px;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 50px;
    background-color: gold;
    padding: 10px 50px 20px 50px;
    border: 1px solid black;
}

.btn_header:hover {
    box-shadow: 2px 2px 2px #f7f6f6;
    bottom: 20px;
    transition: 1s;
}

/*MAIN SECTION*/

/* General main elements */

.box-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

/*Grid template areas declaration*/
.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas:

        "box2 box3"
        "box5 box5"
        "box7 box7"
        "box4 box4";

    overflow: hidden;
}


/* Grid area first section  box-container */

.b2 {
    grid-area: box2;
    flex-flow: column nowrap;
    height: max-content;
    text-align: justify;
    align-items: center;
    background-color: rgb(187, 188, 193);
    padding-bottom: 10px;


}

.b2 .text-container {
    background-color: rgba(225, 225, 227, 0.527);
    max-width: 100%;
    max-height: 500px;

}

.b2 h2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 50px;
    padding-top: 15px;
    font-size: 1.2rem;
}

.b2 p {
    display: flex;
    justify-content: justify;
    width: 100%;
    max-width: 380px;
    max-height: max-content;
    font-size: 0.9rem;

}

/* Grid area second section  box-container */
.b3 {
    grid-area: box3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(187, 188, 193);
    width: 100%;
    padding-top: 10px;

}


.b3 iframe {
    max-width: 250px;
    min-height: 150px;
    max-height: 100%;
    border: none;
}

/* Grid area third section  cards */

.b5 {
    grid-area: box5;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(238 235 223);
    width: 100%;
    height: 650px;

    border-top: 1px solid black;
}

.b5 .card-continer {
    max-width: 100%;
    height: 550px;
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.b5 .card_title {
    top: 100px;
}

.b5 h2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    top: 0px;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
}

.b5 .card {
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    justify-content: center;

    border: 1px solid black;
    max-width: 400px;
    min-height: 250px;
    padding: 15px;
    background-color: #f7f6f6;

}

.b5 .card_border_number {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 10px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.b5 .card_border_span {
    width: 25px;
    height: 25px;
    border: 3px solid black;
    position: relative;
    left: 5px;
    bottom: 2px;

}

.b5 .card_number {
    width: 15px;
    height: 15px;
    font-weight: 700;
    position: relative;
    left: 4px;
    bottom: 2px;

}

.b5 .subtitle {
    padding-bottom: 0px;
    align-self: center;
}

.b5 .content {
    font-size: 0.9rem;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;

}

/* Grid area fourth section  (Download buttons) */

.b7 {
    grid-area: box7;
    flex-flow: row nowrap;
    background-color: rgb(187, 188, 193);
    width: 100%;
    padding: 20px;
    border-top: 1px solid black;
    justify-content: space-around;
}

.b7 .download_title {
    font-size: 1rem;
    min-width: 80px;
    height: 40px;
    padding-right: 15px;
}

.b7 .btn_box_apple {
    width: 100px;
    height: 50px;
    padding-top: 4px;

}

.b7 .btn_box_Playstr {
    width: 100px;
    height: 40px;


}

.b7 .btn_dwl {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: x-small;
    font-style: normal;
    color: #f7f6f6;
    background-color: rgb(101, 108, 101);
    text-decoration: none;
    width: 140px;
    height: 80px;
    padding: 10px;
    text-align: center;


}


/* Grid area fifth section  (carousel) */

.b4 {
    grid-area: box4;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;


    background-color: rgb(187, 188, 193);
    width: 100%;
    height: 350px;

    border-top: 1px solid black;
}

.clients_title {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;


}

.carousel-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.b4 .client-experiences {
    width: 100%;
    height: 180px;
    object-fit: scale-down;
}

/*End main section*/

/*FOOTER*/

footer.nav-item {
    width: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;

}

.nav-item a:hover {
    background-color: #f7f6f6;
}

.secondary-footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.logo-footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}

/*End IndexBst document*/

/* How it works */
.Orange_image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
    top: 120px;
    z-index: 2;

    border: 3px solid #f7f6f6;

}

.span {
    width: 300px;
    height: 300px;
    background-color: rgb(163, 120, 64);
    position: relative;
    bottom: 28%;
    z-index: 1;
}

/*End how it works*/

/* FIND TUTORS*/

/*Third main section (cards)*/
.rounded-card {
    width: 270px;
    height: 270px;

}

/*Fourth main section (cards)*/

.acount_form_section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(238 235 223);
    overflow: hidden;
    padding-right: 20%;
}

.main_Acount_form {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(165, 165, 170);
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 3px solid #f7f6f6;
}

.acount_form_title {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    width: 25%;
    height: 15%;
    padding-right: 10px;
}

.acount_form_column_1 {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: rgb(187, 188, 193);
    border: 2px solid #f7f6f6;
    z-index: 2;
}

.acount_form_column_1 label {
    padding: 5px 4.5rem 0 0;
}

.acount_form_column_1 input {
    padding: 8px;
    flex-grow: 1;
    text-align: start;
    border: rgb(187, 188, 193);
    outline: none;

}

.acount_form_column_1 select {
    outline: none;
}

.acount_form_column_1 input:hover,
select:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(134, 134, 134);
    transition: 1s;

}

.acount_form_name {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: none;
}

.acount_form_name label {
    padding-right: 4.8rem;
}

.acount_form_phone {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: none;
}

.acount_form_phone label {
    padding: 4px .7rem 0 0;
}

.acount_form_email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    border: none;
}

.acount_form_password {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: none;
}

.acount_form_password label {
    padding-right: 3.1rem;
}

/* form_ lable_dropdown buttons */

.acount_form_dopdown {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: start;
    border: none;
    line-height: 3;
}

.acount_form_country_container label {
    padding: 5px 1.5rem 0 8rem;
}

.acount_form_subject_container label {
    padding-left: 1.5rem;
}

.acount_form_country_container select {
    padding: 5px 3.5rem 0 1rem;
    border: none;
    cursor: pointer;
}

.acount_form_subject_container select {
    padding: 5px 3.5rem 0 1rem;
    border: none;
    cursor: pointer;
}


/*form_buttons*/

.acount_form_btns {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    border: none;

}

.form_btn_submit {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-right: 25px;
}

.btn_submit {
    display: block;
    width: 90px;
    height: 30px;
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

.btn_reset {
    display: block;
    width: 90px;
    height: 30px;
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

.btn_reset:hover,
.btn_submit:hover {
    background-color: rgb(214, 213, 213);
    transition: 1s;
}

/*End find tutors*/

/*BECOME A TUTOR*/
.E-learning_benefits {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
/*End become a tutor*/

/* CONTACT*/
.Location{
    width: 350px;
    height: 350px;
    object-fit: cover;
}
textarea{
    width: max-content;
    height: 40px;
    padding-left: 40px;
}
.text-area{
    width: 100%;
    position: relative;
    left: 15px;
}
.text-area-form:hover{
    background-color: rgb(224, 224, 224);
    color: rgb(134, 134, 134);
    transition: 1s;
}
.form_btn_submitr{
    padding-top: 20px;
}
.form_btn_resetr{
    padding-left: 50px;
    padding-top: 20px;
}
@media (max-width : 620px) {

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        grid-template-areas:

            "box2 box2"
            "box3 box3"
            "box5 box5"
            "box7 box7"
            "box4 box4";

        overflow: hidden;
    }

    .b2 .text-container {
        background-color: rgba(225, 225, 227, 0.527);
    }

    .b2 p {
        display: flex;
        justify-content: justify;
        width: 100%;
        max-width: 280px;
        max-height: max-content;

        font-size: 0.9rem;

    }

    .b3 {
        border: 1px solid black;
    }

    .b5 .card-continer {
        max-width: 100%;
        height: 550px;
        display: flex;
        flex-flow: column nowrap;

        justify-content: space-between;
        gap: 10px;
        align-items: start;
    }

    .b5 .card_title {
        top: 0;
    }

    .b5 .card {
        display: flex;
        flex-flow: column nowrap;
        text-align: start;
        justify-content: center;

        border: 1px solid black;
        max-width: 400px;
        min-height: 150px;
        padding: 15px;
        background-color: #f7f6f6;
    }

    .Orange_image {
        position: relative;
        width: 150px;
        height: 150px;
        top: 70px;
    }

    .span {
        width: 170px;
        height: 170px;
        background-color: rgb(163, 120, 64);
        position: relative;
        bottom: 90px;
        z-index: 1;
    }

}