/* -MEDIAQUERYS-*/

/*FIRST MEDIAQ- 1490px)*/

@media (max-width:1419px) {
    .geo-loc-Eur {
        position: relative;
        bottom: 30px;
    }

    .geo-loc-Asi {
        position: relative;
        bottom: 50px;
        left: 100px;
    }

    .geo-loc-Aus {
        position: relative;
        left: 160px;
        top: 70px;
    }

    .geo-loc-Afr {
        position: relative;
        right: 5px;
    }

    .geo-loc-NAme {
        position: relative;
        right: 230px;
        bottom: 130px;
    }

    .geo-loc-SAme {
        position: relative;
        right: 130px;
        bottom: 40px;
    }
}

/*SECOND MEDIAQ- 1238px)*/

@media(max-width:1238px) {
    .geo-loc-Eur {
        position: relative;
        bottom: 5px;
    }

    .geo-loc-Asi {
        position: relative;
        bottom: 20px;
        left: 100px;
    }

    .geo-loc-Aus {
        position: relative;
        left: 150px;
        top: 80px;
    }

    .geo-loc-Afr {
        position: relative;
        right: 5px;
        bottom: 0px;
    }

    .geo-loc-NAme {
        position: relative;
        right: 200px;
        bottom: 130px;
    }

    .geo-loc-SAme {
        position: relative;
        right: 110px;
        bottom: 40px;
    }
}

/*THIRD MEDIAQ- 1120px)*/

@media(max-width:1120px) {
    .geo-loc-Eur {
        position: relative;
        top: 20px;
    }

    .geo-loc-Asi {
        position: relative;
        bottom: 0px;
        left: 100px;
    }

    .geo-loc-Aus {
        position: relative;
        left: 130px;
        top: 80px;
    }

    .geo-loc-Afr {
        position: relative;
        right: 5px;
        bottom: 0px;
    }

    .geo-loc-NAme {
        position: relative;
        right: 170px;
        bottom: 100px;
    }

    .geo-loc-SAme {
        position: relative;
        right: 110px;
        bottom: 40px;
    }
}

/*FOURTH MEDIAQ- 970px)*/

@media (max-width:970px) {
    .geo-loc-Eur {
        position: relative;
        top: 40px;
    }

    .geo-loc-Asi {
        position: relative;
        left: 70px;
        top: 20px;

    }

    .geo-loc-Aus {
        position: relative;
        top: 90px;
        left: 110px;
    }

    .geo-loc-Afr {
        position: relative;
        right: 5px;
    }

    .geo-loc-NAme {
        position: relative;
        right: 140px;
        bottom: 80px;
    }

    .geo-loc-SAme {
        position: relative;
        right: 95px;
        bottom: 30px;
    }
}

/*FIFTH MEDIAQ- 620px)*/

@media (max-width : 620px) {

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        grid-template-areas:

            "box2 box2"
            "box3 box3"
            "box5 box5"
            "box7 box7"
            "box4 box4";

        overflow: hidden;
    }
    .b2{
        .text-container {
            background-color: rgba(225, 225, 227, 0.527);
        }
        p {
            display: flex;
            justify-content: justify;
            width: 100%;
            max-width: 280px;
            max-height: max-content;
            font-size: 0.9rem;
        }
    }
    .b3{
        border: 1px solid black;
        .video-you .video {
            max-width: 100%;
            min-height: 150px;
            max-height: 100%;
            border: none;
        }

    }

    
    .b5 {
        grid-area: box5;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgb(238 235 223);
        width: 100%;
        height: 1100px;

        border-top: 1px solid black;
        .card-continer {
            max-width: 100%;
            height: 990px;
            display: flex;
            flex-flow: column nowrap;
    
            justify-content: space-between;
            gap: 10px;
            align-items: start;
        }
        .card_title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
    
            width: 100%;
            height: 300px;
            padding-bottom: 70px;
            font-size: 1.2rem;
        }
        .card {
            display: flex;
            flex-flow: column nowrap;
            text-align: start;
            justify-content: center;
    
            border: 1px solid black;
            max-width: 400px;
            min-height: 300px;
            padding: 15px;
            background-color: #f7f6f6;
        }
        .card_border_number {
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
        }
    }

    .card-reason-img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        padding-bottom: 0;
    }

    /* HOW IT WORKS*/

    .Orange_image {
        position: relative;
        width: 250px;
        height: 250px;
        top: 70px;
    }

    .span {
        width: 300px;
        height: 300px;
        background-color: rgb(163, 120, 64);
        position: relative;
        bottom: 200px;
        z-index: 1;
    }

    .redirection_btn {
        display: flex;
        flex-flow: row nowrap;
        width: 200px;
        height: 30px;
        justify-content: center;
        text-align: center;
        position: relative;
        bottom: 170px;
        background-color: rgb(223, 198, 139);
        padding: 20px 50px 30px 50px;
        border: 2px solid black;
        border-radius: 100PX;
        transition: 1s;
        &:hover {
            box-shadow: 3px 3px 3px #f7f6f6;
            bottom: 160px;
        }
    }

    .office-container {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        width: 100%;
        height: 100px;
        align-items: center;
    }

    .office {
        width: 100%;
        height: 200px;

        position: relative;
        bottom: 100%;
        border: 2px solid whitesmoke;
        object-fit: cover;
    }

    .card-img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    /* FIND TUTORS*/

    .video-you {
        max-width: 100%;
        min-height: 150px;
    }

    .container-map-continent {
        height: 700px;
    }

    .card-title-tutors {
        padding-top: 0;
        padding-bottom: 70px;
        z-index: 2;
    }

    .tutors-card-image {
        height: 1100px;
    }

    .acount_form_title {
        width: 100%;
    }

    .acount_form_country_container label:first-child {
        display: none;
    }

    .acount_form_country_container .select_form_btn {
        width: 152px;
    }

    .acount_form_subject_container label:first-child {
        display: none;
    }

    /*Become a tutor*/
    .table-section {
        background-image: url(../images/betutor-img.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

}